#page-heading-container {
    font-size: 50px;
    color: darkgrey;
    background-color: blue;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

#instruction-container {
    text-align: center;
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 40px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

#good-luck-text {
    font-size: 30px;
    color: black;
    margin-top: 20px;
}


#pushButtons {
    margin-top: 10px;
    position: center;

}

#yourGuessBox {
    background: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 20px;
    margin-top: 10px;
    color: grey;
}

#scoreCard {
    border: 3px blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 20px;
    margin-top: 20px;
    color: grey;
    line-height: 30px;
}

#randomNumberBox {
    margin-top: 10px;
    font-size: 30px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#generatedNumber {
    margin-top: 10px;
    font-size: 50px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}